@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400&display=swap');
:root{
    /* Color */
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --darkgray-color:#909090;
    --lightgray-color:#e0e0e0;

    /* Size */
    --side-padding: 12px;
    --hash-padding:6px;
    --avarta-size: 36px;
    --icon-size: 16px;

    /* Font Size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;

}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

button{
    all: unset;
    cursor: pointer;
}

body{
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    padding: var(--side-padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo{
    font-size: var(--font-large);
}

header .logo i{
    color: var(--red-color);
}

header .icons .fa-search{
    margin-right: var(--side-padding);
}

.icons{
    display:flex;
}

/* Video */

.player{
    position: sticky;
    top:0;
    text-align: center;
    background-color: var(--black-color);
}

.player video{
    width: 100%;
    height: 100%;
    max-width: 650px;
}

/* Video information */
.infoAndupNext > .info{
    padding: var(--side-padding);
}

.info .metadata .hashtags{
    display:flex;
    font-size: var(--font-small);
    color:var(--blue-color);
}

.info .metadata .hashtags li{
    margin-right: var(--hash-padding);
}

.info .metadata .titleAndButton{
    display: flex;
}

.info .metadata .titleAndButton .title{
    font-size: var(--font-medium);
    margin-right: var(--side-padding);
}

.info .metadata .titleAndButton .title.clamp{ 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.info .metadata .titleAndButton .more{
    height: 100%;
}

.info .metadata .views{
    font-size: var(--font-small);
    color:var(--darkgray-color);
}

.info .actions{
    display:flex;
    justify-content: space-around;
    margin: var(--side-padding);
}

.info .actions button{
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--darkgray-color);
}

.info .actions button i{
    margin-bottom: var(--hash-padding);
    margin: 0 auto;
    font-size: var(--icon-size);
}

.info .actions button i.active{
    color: var(--blue-color);
}

/* Channel Description */
.channel{
    display: flex;
    justify-content: space-between;
    border-top:1px solid var(--lightgray-color);
    border-bottom:1px solid var(--lightgray-color);
    padding-top: var(--hash-padding);
    padding-bottom: var(--hash-padding);
}


.channel .metadata{
    display: flex;
    align-items: center;
}

.channel img{
    width: var(--avarta-size);
    height: var(--avarta-size);
    border-radius: 50%;
    margin-right: var(--side-padding);
}

.channel .metadata .info{
    display: flex;
    flex-direction: column;
}

.channel .metadata .info .name{
    font-size: var(--font-medium);
}

.channel .metadata .info .subscribers{
    font-size: var(--font-small);
    color: var(--darkgray-color);
}

.channel .subscribe{
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

/* upnext */

.UpNext{
    padding: var(--side-padding);
}

.UpNext > .title{
    font-size: var(--font-medium);
    color: var(--darkgray-color);
    margin-bottom: var(--hash-padding);
}

.UpNext .item{
    display: flex;
    margin-top: var(--hash-padding);
}

.UpNext .item img{
    width:35%;
    margin-right: var(--side-padding);
}

.UpNext .item .info{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.UpNext .item button{
    width: 5%;
}

.UpNext .item .info .title{
    color: var(--black-color);
    font-size: var(--font-small);
}

.UpNext .item .info .channelname{
    font-size: var(--font-micro);

}

.UpNext .item .info .views{
    font-size: var(--font-micro);
}

/* 반응형 */
@media screen and (min-width:800px){
    .infoAndupNext{
        display: flex;      
    }

    .infoAndupNext > .info{
        flex-basis: 50%;
    }
    .infoAndupNext > .UpNext{
        flex-basis: 50%;

    }
}
